body {
  background-color: #250d1e;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-wrapper {
  background-color: #eb6536;
}

#controls {
  color: #f2f1f0;
  background-color: #3a3a3ac4;
}

.row .col.s4 .col.s9 .col.s3 {
  padding: 0;
}
