body {
  background-color: #250d1e;
  margin: 0em;
  padding: 0em;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-wrapper {
  background-color: #eb6536;
}

#controls {
  color: #f2f1f0;
  background-color: #3a3a3ac4;
  padding: 1em;
}
